body {
  font-family: 'Lato', sans-serif;
}
h2 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  margin: 27px 0 22px;
}
p {
  color: #848789;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}
h2, p {
  padding: 0 10px;
}
.text {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0;
  @media (max-width: 1000px) {
    padding: 80px 0;
  }
}

.grid {
  

  .grid-item {
    &__menu {
      min-height: 100vh;
      background-image: url(../img/main_bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      @media (max-width: 1200px) {
        min-height: 50vh;
      }
      @media (max-width: 1000px) {
        min-height: 40vh;
      }
      
      .menu {
        width: 50%;
        margin: 0 auto;
        padding: 25px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media (max-width: 1200px) {
          width: 60%;
        }
        @media (max-width: 1000px) {
          width: 70%;
        }
        @media (max-width: 800px) {
          width: 90%;
        }
        &>a {
          color: #4d4959;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 2.6px;
          text-decoration: none;
        }
        @media (max-width: 601px) {
          display: none;
        }
      }
      .grid__menu {
        display: none;
        @media (max-width: 600px) {
          padding: 25px 0;
          display: grid;
          grid-template-areas: "a c d"
                              "b c e";
          .grid {
            &-a {
              grid-area: a;
            }
            &-b {
              grid-area: b;
            }
            &-c {
              grid-area: c;
              margin: 0 auto;
            }
            &-d {
              grid-area: d;
            }
            &-e {
              grid-area: e;
            }
            &-a, &-b, &-c, &-d, &-e {
              display: flex;
              align-items: center;
              justify-content: space-around;
              color: #4d4959;
              font-size: 13px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 2.6px;
              text-decoration: none;
            }
          }
        }
      }
    }

    &__generation {
      text-align: center;
      background-color: #f7f7f7;
    }

    &__about {
      display: grid;
      grid-template-areas: "a a b"
                          "c d d"
                          "e f g";
      @media (max-width: 1000px) {
        grid-template-areas: "a a"
                            "b c"
                            "d d"
                            "f f"
                            "e g";
      }
      @media (max-width: 800px) {
        grid-template-areas: "a" "b" "d" "c" "e" "f" "g";
      }
      .about {
        &-a {
          grid-area: a;
          background-image: url(../img/g_about_1.png);
        }
        &-b {
          grid-area: b;
        }
        &-c {
          grid-area: c;
        }
        &-d {
          grid-area: d;
          background-image: url(../img/g_about_4.png);
        }
        &-e {
          grid-area: e;
          background-image: url(../img/g_about_5.png);
        }
        &-f {
          grid-area: f;
        }
        &-g {
          grid-area: g;
          background-image: url(../img/g_about_7.png);
        }

        &-a, &-d, &-e {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-a, &-d, &-e, &-g {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }

        &-content {
          min-height: 600px;
          display: flex;
          text-align: center;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-between;
          h2 {
            text-transform: uppercase;
          }
          @media (max-width: 800px) {
            min-height: inherit;
          }
          .about-text {
            margin: 70px 65px 105px;
            @media (max-width: 1000px) {
              margin: 70px 65px 45px;
            }
            p {
              font-size: 16px;
              @media (max-width: 1000px) {
                font-size: 20px;
              }
            }
          }
          .about-img {
            width: 100%;
            height: 200px;
            position: relative;
            overflow: hidden;
            img {
              width: 100%;
              height: 200px;
              transform: translate(-50%, -50%);
              object-fit: cover;
              position: absolute;
              left: 50%;
              top: 50%;
            }
            @media (max-width: 800px) {
              display: none;
            }
          }
        }
        &-a, &-b, &-c, &-d, &-e, &-f, &-g {
          @media (max-width: 1000px) {
            min-height: 30vh;
          }
        }
      }
    }

    &__slider {
      text-align: center;
      .carousel-indicators {
        margin-bottom: 45px;
        &>li {
          max-width: 11px;
          height: 11px;
          border-radius: 50%;
          margin-right: 5px;
          margin-left: 5px;
          border: 2px solid #c8c8c8;
          background-color: transparent;
        }
        .active {
          background-color: #a9afb3;;
        }
      }
      h2 {
        span {
          color: #848789;
          font-weight: 300;
          letter-spacing: 1.8px;
        }
      }
      p {
        font-size: 24px;
        font-style: italic;
        line-height: 34px;
      }
    }

    &__shop {
      display: grid;
      grid-template-areas: "a b c d e e"
                          "f f c d g h"
                          "i i i i i i";
      @media (max-width: 1000px) {
        grid-template-areas: "a b c d"
                            "f f c d"
                            "e e g h"
                            "i i i i";
      }
      @media (max-width: 800px) {
        grid-template-areas: "a b"
                            "f f"
                            "c d"
                            "g h"
                            "e e"
                            "i i";
      }
      .shop {
        &-a {
          grid-area: a;
          background-image: url(../img/g_shop_a.png);
        }
        &-b {
          grid-area: b;
          background-image: url(../img/g_shop_b.png);
        }
        &-c {
          grid-area: c;
          background-image: url(../img/g_shop_c.png);
        }
        &-d {
          grid-area: d;
          background-image: url(../img/g_shop_d.png);
        }
        &-e {
          grid-area: e;
          background-image: url(../img/g_shop_e.png);
        }
        &-f {
          grid-area: f;
          background-image: url(../img/g_shop_f.png);
        }
        &-g {
          grid-area: g;
          background-image: url(../img/g_shop_g.png);
        }
        &-h {
          grid-area: h;
          background-image: url(../img/g_shop_h.png);
        }
        &-i {
          grid-area: i;
          min-height: 200px;
          background-color: #282f35;
          a {
            button {
              width: 300px;
              height: 50px;
              border: 1px solid rgba(255, 255, 255, 0.5);
              background-color: #ffffff;
              background-color: transparent;
              color: #ffffff;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 2.8px;
              cursor: pointer;
            }
          }
        }

        &-e, &-i {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-a, &-b, &-c, &-d, &-e, &-f, &-g, &-h {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          min-height: 267px;
        }
      }
    }

    &__form {
      min-height: 249px;
      padding: 110px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 600px) {
        padding: 55px 10px;
      }
      &>div {
        text-align: center;
      }
      p {
        color: #848789;
        font-size: 24px;
        font-style: italic;
        line-height: 34px;
      }
      form {
        width: 100%;
        max-width: 575px;
        margin: 0 auto;
        display: inline-block;
        input {
          width: 100%;
          max-width: 400px;
          height: 67px;
          padding: 0px 20px;
          border: 1px solid #d3d7d9;
          background-color: #ffffff;
          box-sizing: border-box;
        }
        a {
          button {
            width: 100%;
            max-width: 126px;
            height: 69px;
            background-color: #64c29e;
            cursor: pointer;
            @media (max-width: 600px) {
              margin-top: 25px;
            }
          }
          @media (max-width: 600px) {
            display: block;
            text-align: center;
          }
        }
      }
    }

    &__footer {
      background-color: #f7f7f7;
      .footer {
        max-width: 70%;
        height: 250px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1000px) {
          max-width: 90%;
        }
        @media (max-width: 600px) {
          flex-direction: column;
        }
        .footer {
          &-contact, &-social, &-brand {
            max-width: 32%;
            @media (max-width: 600px) {
              max-width: 100%;
              text-align: center;
            }
          }
          &-contact {
            p {
              color: #848789;
              font-size: 16px;
              font-weight: 700;
              @media (max-width: 500px) {
                font-size: 18px;
              }
              span {
                display: block;
                font-size: 14px;
                font-style: italic;
                line-height: 17.87px;
                @media (max-width: 500px) {
                  font-size: 16px;
                }
              }
            }
          }
          &-social {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &>a {
              margin: 0 10px;
            }
          }
          &-brand {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            p {
              font-size: 14px;
              font-style: italic;
              line-height: 17.87px;
              @media (max-width: 500px) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.form input::-webkit-input-placeholder {
  color: #929292;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
}
.form input::-moz-placeholder {
  color: #929292;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
}
.form input:-moz-placeholder {
  color: #929292;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
}
.form input:-ms-input-placeholder {
  color: #929292;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
}
